- @new_announcement = Announcement.new
= form_for @new_announcement, :url => class_room_announcements_path(class_room), :method => :post do |f|
  = hidden_field_tag("class_room_id", class_room.id)
  = label_tag :title, "Title", :class => "title"
  = f.text_field :title
  = label_tag(:content, "Content")
  = f.text_area :content, :size => "60x12"
  = f.submit "Save"
