= form_tag('search', :method => :get) do
  = label_tag(:search_term, "Search forum:")
  = text_field_tag(:search_term)
  = submit_tag("Search")
- if @posts.size == 0
  = "Didn't find what you were looking for?  Start a new discussion:"
  = render "posts/newPost"
- @posts.each do |post|
  .forum_post_container
    .forum_post
      - if post.user_id == current_user.id
        = link_to "delete", class_room_forum_posts_path(@class_room, @forum, post), :method => :delete, :confirm => 'Are you sure you want to destroy this post and all of its reponses? This action cannot be undone.', :class => "delete_link"
      %h3
        = link_to post.title, class_room_forum_post_path(@class_room, @forum, post)
      %p= simple_format(post.content)
      %div.bottom 
        last activity #{ time_ago_in_words(post.last_updated.to_time, include_seconds = true)} ago,
        = link_to(pluralize(post.comments.count, "response"), post_path(post)) + ", "
        tags: 
        -post.tag_list.each do |x|
          = link_to x, class_room_search_by_tag_path(:tag_term => x, :id => @forum.id, :class_room_id => @class_room.id)
