- @posts.each do |post|
  %p
    = post.title
    = link_to "Delete post", {:controller => :posts, :action => 'destroy', :post_id => post.id, :forum_id => @forum.id }, :method => :delete
  %p
    = post.content
  %h2 Tags:
  - post.tags.each do |tag|
    = " " + tag.content
  %h2 Comments:
  - (post.comments.sort { |c1, c2| c2.rating(current_user.id) <=> c1.rating(current_user.id) }).each do |comment|
    %p
      = @user.login + ':'
      = comment.content
      = link_to "Delete comment", {:controller => :comments, :action => 'destroy', :comment_id => comment.id, :forum_id => @forum.id }, :method => :delete
      %br
      = comment.rating(current_user.id)
      = button_to "+1", {:controller => :comments,:action => 'plus1', :comment_id => comment.id, :forum_id => @forum.id }, :method => :post
      = button_to "-1", {:controller => :comments,:action => 'minus1', :comment_id => comment.id, :forum_id => @forum.id }, :method => :post      
  = render :partial => "newComment", :locals => { :post => post }
  %br
= render 'newPost'