- @posts.each do |post|
  %p
    %b Title:
    = post.title
  %p
    %b Content:
    = post.content
  %h2 Comments:
  - (post.comments.sort { |c1, c2| c2.rating <=> c1.rating }).each do |comment|
    %p
      = @user.login + ':'
      = comment.content
      %br
      = comment.rating
      = button_to "+1", {:controller => :comments,:action => 'plus1', :id => comment.id, :forum_id => @forum.id }, :method => :post
      = button_to "-1", {:controller => :comments,:action => 'minus1', :id => comment.id, :forum_id => @forum.id }, :method => :post      
  = render :partial => "newComment", :locals => { :post => post }
  %br
= render 'newPost'