.up-down-widget
  - rbu = comment.rating_by_user(current_user.id)
  = link_to "+", comments_plus1_path(comment), :method => :post, :class => "udw-top" + (rbu==1 ? " active" : "")
  %span.udw-middle= comment.rating
  = link_to "-", comments_minus1_path(comment), :method => :post, :class => "udw-bottom" + (rbu==-1 ? " active" : "")
- if comment.user_id == current_user.id
  = #link_to "edit", {:controller => :comments, :action => 'ajaxEdit', :comment_id => comment.id, :forum_id => @forum.id }, :method => :post, :class => "edit_link"
  = link_to "delete", {:controller => :comments, :action => 'destroy', :comment_id => comment.id, :forum_id => @forum.id }, :method => :delete, :class => "delete_link"
%h4 
  = link_to comment.user.login, user_path(comment.user)
%p= simple_format(comment.content.gsub(/ (?= )/, '&nbsp;'))

.bottom #{time_ago_in_words(comment.created_at, include_seconds = true)} ago
