.admin_edit
  %h2 Edit This Page
  .add_new_section
    = form_for [@class_room, @resource_page, @section]  do |f|
      - if @section.errors.any?
        #error_explanation
          %h2 #{pluralize(@section.errors.count, "error")} prohibited your new item from being saved:

          %ul
          - @section.errors.full_messages.each do |msg|
            %li= msg
      = f.label :title, "Add new section: ", :class => "main"
      = f.text_field :title, :class => "text"  
      = f.submit "Save"
      

  .upload_box
    .title
      Add new #{@resource_page.section.singularize}:
      %span{:class => "upload_links " + ("javascript_show" unless @resource.errors.any?),
            :style => @resource.errors.any? ? "display: none" : ""}
        %a{:href => "#", :id => "resource_upload"} Upload File
        |
        %a{:href => "#", :id => "resource_link"} Paste Link
        |
        %a{:href => "#", :id => "resource_document"} Write New Document

    %div{:class => "add_resource_form " + ("no_javascript" unless @resource.errors.any?) }
      = render :partial => "resources/form",
        :locals => { :style => "small_resource_form"}
        
%ul
  - @sections.each do |section|  
    %li.materials_section
      %h3= section.title
      - if @sections.length > 1 
        = link_to "Delete section", [@class_room, @resource_page, section], 
        :confirm => "Are you sure? This will delete all #{@resource_page.section} associated with this section as well", 
        :method => :delete
      - resources = section.resources.sort_by { |res| res.order }
      - if resources.length > 0
        %ul
          - section.resources.each do |resource|
            %li= link_to "#{resource.name} - Sashko maybe put a thumbnail here?", class_room_resource_page_section_resource_path(@class_room, @resource_page, section, resource)
