= form_for(@class_room) do |f|
  - if @class_room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@class_room.errors.count, "error")} prohibited this class_room from being saved:"
      %ul
      - @class_room.errors.full_messages.each do |msg|
        %li= msg

  .new_class_header
    .field.learn_to_big
      %h3 Step 1: Pick a Tagline
      = f.label :tag_line, "Learn To"
      = f.text_field :tag_line
    .field.summary_big
      %h3 Step 2: Write a Short Description
      = f.label :short_description
      = f.text_area :summary
  .form_page.other_info
    %h3 Step 3: Official Name
    .field
      = f.text_field :name, :class => "text"
    %div{:style => "display: hidden"}
      .field
        = f.label :category, "Category", :class => "main"
        = f.select :category, ClassRoom::CATEGORIES[1..-1]
      .field
        = f.label :start_date, :class => "main"
        = f.date_select :start_date
      .field
        = f.label :end_date, :class => "main"
        = f.date_select :end_date
      %div{:style => "display: none"}
        .field
          = f.label :occupancy, "Maximum Enrollment", :class => "main"
          = f.number_field :occupancy, :value => 0, :class => "text"
        .field
          = f.label :price, :class => "main"
          $
          = f.text_field :price, :value => "0.00", :class => "text"
    .actions
      = f.submit "Update your class!"
