= form_for(@class_room) do |f|
  - if @class_room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@class_room.errors.count, "error")} prohibited this class_room from being saved:"
      %ul
      - @class_room.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :tag_line
    = f.text_field :tag_line
  .field
    = f.label :short_description
    = f.text_area :summary
  %hr
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :occupancy, "Maximum Enrollment"
    %p.hint Specify the maximum number of people that can sign up for your class.  Leave it as 0 for unlimited.
    = f.number_field :occupancy, :value => 0
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :price
    $
    = f.text_field :price, :value => "0.00"
  .actions
    = f.submit "Create your class!"
