.search_results_page
  = form_tag class_rooms_search_path, :method => "get" do
    .search_field                
      = label_tag :category, "Category:"
      = select_tag :category, options_for_select(ClassRoom::CATEGORIES, params[:category] ? params[:category] : "All")
      &nbsp;
      = label_tag :category, "Search text:"
      = text_field_tag :search_term, "", :class => "text"
      &nbsp;
      = submit_tag "Search", :class => "button"
    %hr
    - if @search_term and @search_term != ""
      %h1
        Search results for 
        %strong #{@search_term}
        -if @category and @category != "" and @category != "All"
          in #{@category}
    - elsif  @category and @category != "" and @category != "All"
      %h1 Listing of classes in #{@category}
    - elsif @category and @category == "All"
      %h1 List of all classes
  - @class_rooms.each do |class_room|
    = render :partial => "list_display", :locals => {:class_room => class_room}
  = paginate @class_rooms
       
