= form_tag class_rooms_search_path, :method => "get" do
  = select(:search, :category, ClassRoom::CATEGORIES)
  .search_field                
    = text_field_tag :search_term, "", :class => "text"
    = submit_tag "Search", :class => "button"
- @class_rooms.each do |class_room|
  .forum_post_container
    .forum_post
      %h3
        = link_to class_room.name, class_room_path(class_room.id)
        = " - Learn to " + class_room.tag_line
      %div.bottom 
        =#last activity #{ time_ago_in_words(post.last_updated.to_time, include_seconds = true)} ago,
        = #link_to(pluralize(post.comments.count, "response"), post_path(post)) + ", "
= paginate @class_rooms
       
