.class_home

  .rating_container
    .up-down-widget
      - rbu = @class_room.rating_by_user(current_user.id)
      = link_to "+", class_rooms_plus1_path(@class_room), :method => :post, :class => "udw-top" + (rbu==1 ? " active" : "")
      %span.udw-middle= @class_room.rating
      = link_to "-", class_rooms_minus1_path(@class_room), :method => :post, :class => "udw-bottom" + (rbu==-1 ? " active" : "")
  
  %h1
    %span.learn_to Learn To
    %span.tag_line= @class_room.tag_line.upcase

  .below_tagline
    .info
      Taught by #{link_to @class_room.user.login, @class_room.user}, #{pluralize @class_room.users.length, "student"} enrolled
  
  %h2
    = @class_room.summary
  
  .announcements_box
    %h4
      = "Announcements"
      = link_to "see all", :controller => :announcements, :action => :show, :class_room_id => @class_room.id
      %a{:href=>"#", :id => "post_new"} post new
    .new_announcement_form
      %h4 Editing New Announcement
      = render 'new_announcement'
    -if @announcement
      .announcement
        %h3= link_to @announcement.title, announcements_path(@announcement)
        %p= @announcement.content
    -else
      .placeholder
        No announcements yet!  Click 'post new' above to make an announcement.
  
  - unless @class_room.resource.hidden
    %div{:style => "margin: 0 30px"}
      = link_to "Edit Description", edit_class_room_resource_page_section_resource_path(@resource.section.resource_page.class_room, @resource.section.resource_page, @resource.section, @resource)
      = render :partial => "shared/document_embed", :locals => { :res => @class_room.resource, :style => "full_page" }
