<p>
  <b>Name:</b>
  <%= @class_room.name %>
</p>

<p>
  <b>Creator:</b>
  <%= @creator.login %>
</p>

<p>
  <b>Occupancy:</b>
  <%= @class_room.occupancy %>
</p>

<p>
  <b>Price:</b>
  <%= @class_room.price %>
</p>

<p>
  <b>Start date:</b>
  <%= @class_room.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @class_room.end_date %>
</p>

<p>
  <b>Description:</b>
  <%= @class_room.description_id %>
</p>

<% if @user.id == @creator.id %>
  <%= link_to 'Edit', edit_class_room_path(@class_room) %> |
  <%= link_to 'Destroy', @class_room, confirm: 'Are you sure?', method: :delete %> |
<% else %>
  <%= link_to 'Join' %>
<% end %>
<%= link_to 'Back', class_rooms_path %>
