.class_page
  %div#left-bar
    %h1= @class_room.name
    %p.subtitle
      by
      = link_to @creator.login, user_path(@creator)
    %ul.class-info
      %li
        .enroll-button-container
          = form_for @user_permission, :url => class_rooms_add_user_path, :method => :post do |f|
            = f.hidden_field :class_room_id, :value => @class_room.id
            = f.submit "Join Class", :class => "button"

        &nbsp; #{pluralize @users.count, "student"}
      %li Runs #{l @class_room.start_date} to #{l @class_room.end_date}
      %li
        Click to rate: &nbsp;
        %span.plus-minus
          %input.plus#plus-rating{:type => "radio", :name => "rating"}
          %label{:for => "plus-rating"}
            %strong 48
          %input.minus#minus-rating{:type => "radio", :name => "rating"}
          %label{:for => "minus-rating"}
            %strong 12
      %li
        Price:
        = number_to_currency @class_room.price
    %nav
      %ul
        %li
          %a.active{:href => "#"} Home
        %li
          %a{:href => "#"} Lessons
        %li
          %a{:href => "#"} Homework
        %li
          %a{:href => "#"} Materials
        %li
          %a{:href => "#"} Tests / Quizzes
        %li
          %a{:href => "#"} Discussion
        %li
          %a{:href => "#"} Students

  %div#center-page
    %section
      %h2 Course Description
      %p This course is awesome.
