.class_home
  -if not @class_room.started and not @is_creator
    .class_room_will_start
      -if @class_room.start_date > Date.today
        The teacher has indicated that this class will start on
        ="<strong>#{l @class_room.start_date}</strong>.".html_safe
        Enroll to be notified!
      -else 
        This class hasn't started yet.  Enroll to be notified when it begins!
  -if not @class_room.started and @is_creator
    .class_room_start_bar.ui-state-highlight.ui-corner-all
      = link_to "Begin class!", begin_path(@class_room), :class => "button", :style => "float: right; margin-top: -5px;"
      %h3
        Class Hidden
      .hidden_explanation.no_javascript
        %p
          Class materials are currently hidden from students because the class hasn't started.  
          You specified that the class will start on 
          ="<strong>#{l @class_room.start_date}</strong>.".html_safe
        %p Click the button to start the class and make the materials public.

  .rating_container
    .up-down-widget
      - if @permission_type == "student"
        - rbu = @class_room.rating_by_user(current_user.id)
        = link_to "+", class_rooms_plus1_path(@class_room), :method => :post, :class => "udw-top" + (rbu==1 ? " active" : "")
        %span.udw-middle= @class_room.rating
        = link_to "-", class_rooms_minus1_path(@class_room), :method => :post, :class => "udw-bottom" + (rbu==-1 ? " active" : "")
  
  %h1
    %span.learn_to Learn To
    - size = [7-@class_room.tag_line.length/7, 3].max
    %span.tag_line{:style => "font-size: #{size}em"}= @class_room.tag_line.upcase

  
  %h2
    = @class_room.summary
  .below_tagline
    .info
      Taught by #{link_to @class_room.user.login, @class_room.user}, #{pluralize @class_room.users.length, "student"} enrolled
  -if @announcement or @is_creator 
    .announcements_box
      %h4
        = "Most Recent Announcement"
        - if current_user
          = link_to "see all",  class_room_announcements_path(@class_room)
        - if @is_creator
          %a{:href=>"#", :id => "post_new"} post new
      .new_announcement_form
        -if @is_creator
          %h4 Editing New Announcement
          = render :partial => 'announcements/new_announcement', :locals => {:class_room => @class_room}
      -if @announcement
        .announcement
          %h3= @announcement.title
          %p= @announcement.content
          .bottom #{time_ago_in_words @announcement.created_at} ago by #{link_to @announcement.user.login, @announcement.user}
      -elsif @is_creator
        .placeholder
          No announcements yet!  Click 'post new' above to make an announcement.
    
  - if @class_room.resource && (!@class_room.resource.hidden || @is_creator)
    %hr{:style => (@announcement or @is_creator ? "" : "margin-top: 30px")}
    %div
      - if @is_creator
        = link_to "Edit Class Description", edit_class_room_resource_page_section_resource_path(@description.section.resource_page.class_room, @description.section.resource_page, @description.section, @description), :id => "edit_class_description"
        = link_to @description.hidden ? "Show Class Description To Students" : "Hide Class Description From Students", class_room_resource_page_section_publish_path(@description.section.resource_page.class_room, @description.section.resource_page, @description.section, @description), :class => "hide_link"
      = render :partial => "shared/document_embed", :locals => { :res => @class_room.resource, :style => "big_embed" }
