.class_home
  %h1
    -unless @class_room.started
      .class_room_will_start
        = "This class will start on #{l @class_room.start_date}.  Enroll to be notified!"

  .rating_container
    .up-down-widget
      - if @permission_type == "student"
        - rbu = @class_room.rating_by_user(current_user.id)
        = link_to "+", class_rooms_plus1_path(@class_room), :method => :post, :class => "udw-top" + (rbu==1 ? " active" : "")
        %span.udw-middle= @class_room.rating
        = link_to "-", class_rooms_minus1_path(@class_room), :method => :post, :class => "udw-bottom" + (rbu==-1 ? " active" : "")
  
  %h1
    %span.learn_to Learn To
    - size = [7-@class_room.tag_line.length/7, 3].max
    %span.tag_line{:style => "font-size: #{size}em"}= @class_room.tag_line.upcase

  
  %h2
    = @class_room.summary
  .below_tagline
    .info
      Taught by #{link_to @class_room.user.login, @class_room.user}, #{pluralize @class_room.users.length, "student"} enrolled
  
  .announcements_box
    %h4
      = "Most Recent Announcement"
      = link_to "see all", :controller => :announcements, :action => :show, :class_room_id => @class_room.id
      - if @is_creator
        %a{:href=>"#", :id => "post_new"} post new
    .new_announcement_form
      -if @is_creator
        %h4 Editing New Announcement
        = render :partial => 'announcements/new_announcement', :locals => {:class_room => @class_room}
    -if @announcement
      .announcement
        %h3= link_to @announcement.title, :controller => :announcements, :action => :show, :class_room_id => @class_room.id
        %p= @announcement.content
    -elsif @is_creator
      .placeholder
        No announcements yet!  Click 'post new' above to make an announcement.
  
  - if @class_room.resource && (!@class_room.resource.hidden || @is_creator)
    %hr
    %div{:style => "margin: 0 40px"}
      - if @is_creator
        = link_to "Edit Class Description", edit_class_room_resource_page_section_resource_path(@description.section.resource_page.class_room, @description.section.resource_page, @description.section, @description), :id => "edit_class_description"
      = render :partial => "shared/document_embed", :locals => { :res => @class_room.resource, :style => "big_embed" }
