-if @notifications.length > 0
  - @notifications.each do |notification|
    - if notification[0].action == "new_resource_comment"
      - read = notification[0].read
      - count = notification.length
      - resource_comment = notification[0].item
      = render :partial => "notifications/resource_comment_notification.html.haml", :locals => { :count => count, :resource_comment => resource_comment, :read => read }
      - if read == false
        - notification.each do |x|
          - x.read = true
          - x.save!
    - elsif notification[0].action == "new_comment"
      - read = notification[0].read
      - count = notification.length
      - post_comment = notification[0].item
      = render :partial => "notifications/post_comment_notification.html.haml", :locals => { :count => count, :post_comment => post_comment, :read => read }
      - if read == false
        - notification.each do |x|
          - x.read = true
          - x.save!
    - elsif notification[0].action == "new_announcement"
      - read = notification[0].read
      - count = notification.length
      - announcement = notification[0].item
      = render :partial => "notifications/announcement_notification.html.haml", :locals => { :count => count, :announcement => announcement, :read => read }
      - if read == false
        - notification.each do |x|
          - x.read = true
          - x.save!
    - elsif notification[0].action == "new_subcomment"
      - read = notification[0].read
      - count = notification.length
      - subcomment = notification[0].item
      = render :partial => "notifications/comment_subcomment_notification.html.haml", :locals => { :count => count, :subcomment => subcomment, :read => read }
      - if read == false
        - notification.each do |x|
          - x.read = true
          - x.save!
    - elsif notification[0].action == "also_resource_comment"
      - read = notification[0].read
      - count = notification.length
      - resource_comment = notification[0].item
      = render :partial => "notifications/also_resource_comment_notification.html.haml", :locals => { :count => count, :resource_comment => resource_comment, :read => read }
      - if read == false
        - notification.each do |x|
          - x.read = true
          - x.save!
- else
  .empty_notifications No notifications here!
