= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation.ui-state-error.ui-corner-all
      .ui-icon.ui-icon-alert.icon-in-info
      %h2= "Could not register: #{pluralize(@user.errors.count, "error")} in the form"
      %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg 
  .field
    = f.label :old_password, :class => "main"
    %p.hint Enter your old password here
    = password_field_tag :old_password
         
  .field
    = f.label :update_password, :class => "main"
    %p.hint Must be at least 6 characters long.
    = f.password_field :password
  .field
    = f.label :password_confirmation, :class => "main"
    %p.hint Must match the previous password.
    = f.password_field :password_confirmation

  %br/
  %br/
  .actions
    = f.submit "Update Account"
    
= link_to "Cancel", user_path(@user)
