.content

  %h1 Create an Account

  %p Get ready to join our vibrant learning community!

  %hr

  = form_for(@user) do |f|
    - if @user.errors.any?
      #error_explanation.ui-state-error.ui-corner-all
        .ui-icon.ui-icon-alert.icon-in-info
        %h2= "There are #{pluralize(@user.errors.count, "error")} in the form:"
        %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
    .field
      = f.label :login, "Display Name"
      %p.hint Other people will see this name when you enroll in classes and post in discussion boards.
      = f.text_field :login, :class => "required"
    .field
      = f.label :email
      %p.hint We will send a confirmation link to this address after you submit the form. You will also use this to log in.
      = f.text_field :email, :class => "required email"
    .field
      = f.label :password
      %p.hint Must be at least 8 characters long.
      = f.password_field :password, :class => "required"
    .field
      = f.label :password_confirmation
      %p.hint Must match the previous password.
      = f.password_field :password_confirmation, :class => "required"
    
    %br/
    .field
      %p.hint Please confim you're not a robot by typing the text below.
      = raw recaptcha_tags

    .actions
      = f.submit "Create Account"

  = recaptcha_tags
