<% if current_user == @user && @user.account_type == "internal" %>
	<p><strong> Link your account to your facebook page! <strong><p>
	<a href="/auth/facebook" class="auth_provider">
		<%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
		Facebook
	</a>
<% end %>
<% unless @taught_classes.empty? %>
	<%= "Classes #{@is_me ? "you are" : @user.login + " is"} teaching:" %>
<% end %>
<% @taught_classes.each do |taught_class| %>
  <ul>
    <li><%= link_to taught_class.name, class_room_path(taught_class) %></li>
<% end %>
<% unless @class_rooms.empty? %>
	<%= "Classes #{@is_me ? "you are" : @user.login + " is"} taking:" %>
<% end %>
<% @class_rooms.each do |class_room| %>
  <ul>
    <li><%= link_to class_room.name, class_room_path(class_room) %></li>
<% end %>

