.user_page
  .user_info
    %h1= @user.login
    .info User since #{l @user.created_at.to_date}
    - if current_user == @user && @user.account_type == "internal"
      .info
        %div{:style => "margin: 5px 0"}
          Connect your account:
          %div{:style => "margin: 5px 0"}
            %a{:href=>"/auth/facebook", :class=>"auth_provider"}
              = image_tag "facebooklogin.png", :alt => "Connect with Facebook"
    - elsif @user.account_type != "internal"
      .info Connected to Facebook
    -if @user.biography
      .info 
        = @user.biography
    -if @user == current_user
      .info
        = link_to "Edit account info #{@user.biography ? "" : "or add a biography"}", edit_user_path(@user)
      .info
        = link_to "Change password", users_edit_password_path
  .user_inside
    - unless @taught_classes.empty?
      %h2= "Classes #{@is_me ? "you are" : @user.login + " is"} teaching:"
      %ul
        - @taught_classes.each do |taught_class|
          %li= link_to taught_class.name, class_room_path(taught_class)
    %h2= "Classes #{@is_me ? "you are" : @user.login + " is"} taking:"
    - if @class_rooms.empty?
      %p{:style => "margin-left: 15px; color: #555;"} #{@is_me ? "You are" : @user.login + " is"} not taking any classes.
    - else
      %ul 
        - @class_rooms.each do |class_room|
          %li= link_to class_room.name, class_room_path(class_room)

