- if defined? style and defined? res
  - info = res.get_info
  - hidden = false unless ( defined? hidden and hidden == true )
  - if style == "inline_link"
    %span.resource-inline-container
      - link_class = "resource-inline-link include-file-type-icon #{icon_class}"
      %a{:class => link_class, :href => url_for(res.file.url), :title => res.caption}
        = res.name
  - if style == "full_page"
    .media_header
      %h2= res.name
      .caption= res.caption
      %p updated #{time_ago_in_words (res.updated_at)} ago by #{link_to res.user.login, res.user}
      

    - if info[:media_type] == "unknown"
      .full_page_link_container
        =link_to res.url, res.url
    - if info[:media_type] == "image"
      = render :partial => "shared/image_content", :locals => {:res => res, :style => style}
    - if info[:media_type] == "video" and info[:video][:source] == "youtube"
      .youtube_full_page_container
        %iframe{:width=>"735", :height=>"435", :src=>("http://www.youtube.com/embed/" + info[:video][:id].to_s + "?rel=0&wmode=transparent"), :wmode => "transparent",:frameborder=>"0", :allowfullscreen=>""}
    - if info[:media_type] == "video" and info[:video][:source] == "vimeo"
      .youtube_full_page_container
        %iframe{:src=>"http://player.vimeo.com/video/#{info[:video][:id].to_s}", :width=>"853", :height=>"505", :wmode => "transparent", :frameborder=>"0", :webkitAllowFullScreen=>true, :mozallowfullscreen=>true, :allowFullScreen => true}
  - if style == "big_embed"
    - if info[:media_type] == "unknown"
      .full_page_link_container
        =link_to res.url, res.url
    - if info[:media_type] == "image"
      = render :partial => "shared/image_content", :locals => {:res => res, :style => "big_embed"}
    - if info[:media_type] == "video" and info[:video][:source] == "youtube"
      .youtube_full_page_container
        %iframe{:width=>"640", :height=>"385", :src=>("http://www.youtube.com/embed/" + info[:video][:id].to_s + "?rel=0&wmode=transparent"), :frameborder=>"0", :wmode => "transparent",:allowfullscreen=>""}
    - if info[:media_type] == "video" and info[:video][:source] == "vimeo"
      .youtube_full_page_container
        %iframe{:src=>"http://player.vimeo.com/video/#{info[:video][:id].to_s}", :width=>"735", :height=>"435", :frameborder=>"0", :wmode => "transparent",:webkitAllowFullScreen=>true, :mozallowfullscreen=>true, :allowFullScreen => true}
