-content_for :right_column do  
  .news_feed
    %h1 Your Classes
    - current_user.taught_classes.each do |class_room|
      .teacher_feed_class
        - resource_pages = class_room.resource_pages.sort_by {|x| x.id}
        %h3= link_to class_room.name, class_room_path(class_room)
        .info #{pluralize class_room.users.length, "student"}
        .section_links
          %h4 Quick Links
          %ul
            %li= link_to "Lessons", class_room_resource_page_path(class_room, resource_pages[0])
            %li= link_to "Homework", class_room_resource_page_path(class_room, resource_pages[1])
            %li= link_to "Materials", class_room_resource_page_path(class_room, resource_pages[2])
            %li= link_to "Tests/Quizzes", class_room_resource_page_path(class_room, resource_pages[3])
            %li= link_to "Discussion", [class_room, class_room.forum]
            %li= link_to "Students", students_show_path(:class_room => class_room.id)
        .clear 
  
- content_for :center_column do
  .new_posts.teacher_post_feed
    %h3
      Recent Discussion Posts in your Classes
    - @posts.each do |post|
      .feed_forum_post  
        %h4
          = link_to post.title, class_room_forum_post_path(post.forum.class_room, post.forum, post)
          in #{ link_to post.forum.class_room.name, class_room_path(post.forum.class_room.id)}
        - tokens = post.content.split()
        %p{:style => "margin: 5px 0"}
          - num_words = 40
          = tokens.first((tokens.length > num_words*2) ? num_words : num_words*2).join(" ")
          - if tokens.length > num_words*2
            = link_to "more...", class_room_forum_post_path(post.forum.class_room, post.forum, post), :class => "more_link"
            %span.more= tokens[num_words..-1].join(" ")
        %div.bottom
          #{link_to post.user.login, post.user}
          #{ time_ago_in_words(post.created_at, include_seconds = true)} ago
