= form_for [@class_room, @resource_page, @section, @resource] do |f|
  - if @resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@class_room.errors.count, "error")} prohibited this class_room from being saved:"
      %ul
      - @resource.errors.full_messages.each do |msg|
        %li= msg
        
  .field
    = f.label :name, :class => "main"
    = f.text_field :name, :class => "text"
  .field
    = f.label :caption, :class => "main"
    = f.text_field :caption, :class => "text"


  :javascript
    $().ready(function() {
      $('textarea.tinymce').tinymce({
        // Location of TinyMCE script
        script_url : '/assets/tinymce/tiny_mce.js',

        // General options
        theme : "advanced",
        plugins : "autolink,lists,layer,table,save,advimage,advlink,inlinepopups,preview,media,searchreplace,contextmenu,paste,noneditable,template",

        // Theme options
        theme_advanced_buttons1 : "save,|,bold,italic,underline,strikethrough,sub,sup,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,formatselect,|,forecolor,backcolor,pastetext,pasteword,|,undo,redo,|,link,unlink,|,hr,charmap",
        theme_advanced_buttons2 : "",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",

        // Example content CSS (should be your site CSS)
        content_css : "css/content.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "lists/template_list.js",
        external_link_list_url : "lists/link_list.js",
        external_image_list_url : "lists/image_list.js",
        media_external_list_url : "lists/media_list.js",

      });
    }); 
  - if@resource.file_type == "document"
    .field
      = label_tag :document, :Content, :class => "main"
      = text_area :document, :content, :id => "tinymce_area", :class => "tinymce"
  .actions
    = f.submit "Update"
