= form_for [class_room, resource_page, section, resource] do |f|
  - if resource.errors.any?
    #error_explanation
      %h2 #{pluralize(resource.errors.count, "error")} prohibited your new item from being saved:

      %ul
      - resource.errors.full_messages.each do |msg|
        %li= msg

  .field
    = label_tag :resource, :Section, :class => "main"
    = collection_select(:section, :id, sections, :id, :title)
  .field
    = f.label :name, :class => "main"
    = f.text_field :name, :class => "text"
  .field
    = f.label :caption, :class => "main"
    = f.text_field :caption, :class => "text"
  .field
    = f.label :type, "Content Type", :class => "main"
    .type_radio_buttons
      = Resource::TYPES.map { |type| (f.radio_button :file_type, type, :value => type) + (label_tag "resource_file_type_" + type, type) }.join.html_safe
 
  .field#upload_tab_contents
    = f.label :file, "Upload File", :class => "main"
    = f.file_field :file
  .field#link_tab_contents
    = f.label :url, "Paste URL Here", :class => "main"
    = f.text_field :url, :class => "text"
  .field#document_tab_contents

  .actions
    = f.submit "Save"
