.form_page
  %h1  Editing #{@resource_page.section.singularize}
  %p.hint Located at: #{@section.title} #{">"} #{@resource.name} 

  %hr

  - if @resource.file_type == "document"
    = render 'edit_form'
  - else
    = render 'form',
          :locals => { :resource => @resource, :resource_page => @resource_page, :section => @section, 
          :class_room => @class_room, :sections => @sections,
          :style => "small_resource_form" }
