.resource_show_page
  = link_to "Back to #{@resource_page.section}", [@class_room, @resource_page]
  .actions
    = link_to @resource.hidden ? 'Publish' : 'Take off display', class_room_resource_page_section_publish_path(@class_room, @resource_page, @section, @resource)
    = link_to 'Edit', edit_class_room_resource_page_section_resource_path(@class_room, @resource_page, @section, @resource),
     :class => "button"
    = link_to 'Delete', class_room_resource_page_section_resource_path(@class_room, @resource_page, @section, @resource), confirm: 'Are you sure?', method: :delete, :class => "button"

  .info
    %div #{@resource_page.section.capitalize} #{">"} #{@section.title} #{">"} #{@resource.name}
    %div
      Created by #{link_to @resource.user.login, @resource.user} at #{l @resource.created_at.in_time_zone}
      - if @resource.updated_at?
        and updated at #{l @resource.updated_at}.

  
  - if @resource.file_type == "upload"
    = render :partial => "shared/resource_embed", :locals => {:res => @resource, :info => @resource.get_info, :style => "big_embed", :hidden => false}

  - if @resource.file_type == "document"
    = render :partial => "shared/document_embed", :locals => {:res => @resource, :info => @resource.get_info, :style => "full_page"}

  - if @resource.file_type == "link"
    = render :partial => "shared/link_embed", :locals => {:res => @resource, :info => @resource.get_info, :style => "full_page"}
