.resource_show_page
  - if @is_creator
    .actions
      = link_to @resource.hidden ? "Publish To #{@resource_page.section}": "Hide From #{@resource_page.section} Page", class_room_resource_page_section_publish_path(@class_room, @resource_page, @section, @resource), :class => "button"
      = link_to 'Edit', edit_class_room_resource_page_section_resource_path(@class_room, @resource_page, @section, @resource),
       :class => "button"
      - if @resource != @class_room.resource
        = link_to 'Delete', class_room_resource_page_section_resource_path(@class_room, @resource_page, @section, @resource), confirm: 'Are you sure?', method: :delete, :class => "button"

  .info
    %div #{link_to @resource_page.section.capitalize, [@class_room, @resource_page]} #{">"} #{@section.title} #{">"} #{@resource.name}
      
  = render :partial => "shared/embed", :locals => {:res => @resource, :info => @resource.get_info, :style => "full_page", :hidden => false}

.resource_sub_comments
  %h3 #{pluralize @resource_comments.length, "comment"}
  - @resource_comments.each do |comment|
    = render :partial => "resource_comments/resource_comment", :locals => {:resource_comment => comment}
  = render :partial => "resource_comments/new_resource_comment"
  


-#
  :javascript
    $( function(){ 
    jtv_api.new_player( "stream_box",
    {
      channel: "djmashko",
      //stream_key: "live_23830113_38mnbJR22bRomDPk2AxKjxXpPCXw14",
      consumer_key: "jjCZcGGsUENc4vAX5ODwA",
      auto_play: true
    });
      
    var jtv = document.getElementById("stream_box"); 
    function setStartingSize() { 
      if (jtv.children.length == 0) { 
        setTimeout(setStartingSize, 1000); 
        return; 
      } 
      var player = jtv.children[0]; 
      jtv.removeChild(player); 
      player.type = 'application/x-shockwave-flash'; 
      jtv.appendChild(player); 
      player.height = 450; 
      player.width = 600; 
    } 
    setStartingSize(); 
  
  });
  %div{:style => "text-align: center"}
    #stream_box{:style=>"float:left"}
    %iframe{:src => "http://www.justin.tv/chat/embed?channel=djmashko", :style=>"float:left", :width => 340, :height => 450}
    .clear 