= form_for @post, :url => {:controller => "posts", :action => "edit" } do |f|
  = hidden_field_tag("post_id", post_id)
  = label_tag(:title, "Title:")
  = f.text_field :title
  = label_tag(:content, "Post Content:")
  = f.text_area :content, :size => "60x12"
  = f.submit "Create"
