= form_for @post, :url => {:controller => "posts", :action => "create" } do |f|
  = hidden_field_tag("forum_id", @forum.id)
  = label_tag(:title, "Title:")
  = f.text_field :title
  = label_tag(:content, "Post Content:")
  = f.text_area :content, :size => "60x12"
  = label_tag(:new_tags, "Tags:")
  = text_field_tag :new_tags
  %div
    = f.submit "Submit Post"
