- if post.user_id == current_user.id
  = link_to "delete", post, :method => :delete, :class => "delete_link"
%h3
  = link_to post.title, post_path(post)
%p
  = simple_format(post.content)
%div.bottom 
  posted #{time_ago_in_words(post.created_at.to_time, include_seconds = true)} ago by #{link_to post.user.login, post.user},
  tags: 
  - post.tag_list.each do |x|
    = link_to "#" + x, forums_search_by_tag_path(:tag_term => x, :forum_id => forum.id)