= link_to "<- Back to forum", @forum

.forum_post_container
  .forum_post
    = render :partial => "post", :locals => { :post => @post, :forum => @forum }
  .forum_post_responses
    - (@post.comments.sort { |c1, c2| c2.rating <=> c1.rating }).each do |comment|
      .response{:id => "forum_response_" + comment.id.to_s}
        = render :partial => "comments/comment", :locals => {:comment => comment}
        .sub_comments
          - comment.subcomments.order(:created_at).each do |subcomment|
            = render :partial => "subcomments/subcomment", :locals => {:subcomment => subcomment}
          = render :partial => "newSubcomment", :locals => { :comment => comment }
    .post_response_form
      = render :partial => "newComment", :locals => { :post => @post }
