= link_to "<- Back to forum", @forum

.forum_post_container
  .forum_post
    - if @post.user_id == current_user.id
      = link_to "delete", {:controller => :posts, :action => 'destroy', :post_id => @post.id, :forum_id => @forum.id }, :method => :delete, :class => "delete_link"
    %h3
      = link_to @post.title, post_path(@post)
    %p
      = simple_format(@post.content)
    %div.bottom 
      posted #{time_ago_in_words(@post.created_at.to_time, include_seconds = true)} ago by #{link_to @post.user.login, @post.user},
      tags: 
      - @post.tag_list.each do |x|
        = link_to "#" + x, forums_search_by_tag_path(:tag_term => x, :forum_id => @forum.id)
  .forum_post_responses
    - (@post.comments.sort { |c1, c2| c2.rating <=> c1.rating }).each do |comment|
      .response{:id => "forum_response_" + comment.id.to_s}
        .up-down-widget
          - rbu = comment.rating_by_user(current_user.id)
          = link_to "+", {:controller => :comments,:action => 'plus1', :comment_id => comment.id}, :method => :post, :class => "udw-top" + (rbu==1 ? " active" : "")
          %span.udw-middle= comment.rating
          = link_to "-", {:controller => :comments,:action => 'minus1', :comment_id => comment.id}, :method => :post, :class => "udw-bottom" + (rbu==-1 ? " active" : "")
        - if comment.user_id == current_user.id
          = link_to "delete", {:controller => :comments, :action => 'destroy', :comment_id => comment.id, :forum_id => @forum.id }, :method => :delete, :class => "delete_link"
        %h4 
          = link_to @user.login, user_path(@user)
        %p= simple_format(comment.content.gsub(/ (?= )/, '&nbsp;'))
        
        .bottom #{time_ago_in_words(comment.created_at, include_seconds = true)} ago
        
        .sub_comments

          - comment.subcomments.order(:created_at).each do |subcomment|
            = subcomment.content
            = " - "
            = link_to @user.login, user_path(@user)
            - if subcomment.user_id == @user.id
              = link_to "Delete comment", {:controller => :subcomments, :action => 'destroy', :subcomment_id => subcomment.id}, :method => :delete
            %br
          = render :partial => "newSubcomment", :locals => { :comment => comment }
    .post_response_form
      = render :partial => "newComment", :locals => { :post => @post }
