!!!
%html
  %head
    = stylesheet_link_tag(:application)
    = javascript_include_tag(:application)

  %body
    %header
      %div.logo ClassBox
      = link_to "home", root_path
      %div.user_nav
        - if current_user
          - @user = current_user
          Signed in as #{link_to(current_user.email, user_path(@user)).html_safe}.
          Not you? #{link_to "Sign out", logout_path}
        - else
          = link_to "Sign in", new_user_session_path, :id => "sign_in_button"
          = link_to "Register", new_user_path
      %div.clear

    %div#content
    
      - flash.each do |key, msg| 
        = content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}"       



      = yield

    %div#login_dialog
      %p Loading... 
