!!!
%html
  %head
    = javascript_include_tag("http://www-cdn.justin.tv/javascripts/jtv_api.js")
    = stylesheet_link_tag(:application)
    = javascript_include_tag(:application)
    = stylesheet_link_tag(:document_content)
  %body
    .header
      %header
        .top_level
          -if current_user
            -if current_user.taught_classes.size > 0 and current_user.class_rooms.size == 0
              = link_to "LearnTo", home_teacher_index_path, :class => "logo"
            -else
              = link_to "LearnTo", home_index_path, :class => "logo"
          -else
            = link_to "LearnTo", root_path, :class => "logo"

          %nav
            = link_to "Browse Classes", class_rooms_path
            = link_to "Teach a Class", new_class_room_path
            = link_to "Notifications", "#"
            = #render :partial => 'notifications/notifications'
          
          %div.user_nav
            - if current_user
              - @user = current_user
              = link_to current_user.login, user_path(@user), :class => "button"
              = link_to "Sign out", logout_path, :class => "button"
            - else
              %a{:href=>"/auth/facebook", :class=>"auth_provider"}
                = image_tag "facebooklogin.png", :alt => "Facebook Login" 
              
              = link_to "Sign in", login_path, :id => "sign_in_button", :class => "button"
              = link_to "Register", new_user_path, :class => "button"
          %div.search_box
            = form_tag class_rooms_search_path, :method => "get" do
              .search_field                
                = text_field_tag :search_term, "", :class => "text"
                = submit_tag "Search", :class => "button"
          %div.clear
    .top_level
      %div#content
        -if not content_for? :content
          .full_width_page
            - if flash[:fail]
              .flash.ui-state-highlight= flash[:fail]
               
            = yield
        -else
          - if flash[:fail]
            .flash.ui-state-highlight= flash[:fail]
               
          = yield(:content)


    .footer
      %footer
        .top_level
          created for 6.470 by Brodrick Childs, Sashko Stubailo, Jeffrey Warren
          
:javascript
  $(function() {
    $("#search_term").autocomplete({
      source: "/class_rooms/class_names.json",
      minLength: 3
     });
    });
