!!!
%html
  %head
    = stylesheet_link_tag(:application)
    = javascript_include_tag(:application)
    = stylesheet_link_tag(:document_content)
  %body
    .header
      %header
        .top_level
          = link_to "home", root_path, :class => "logo"
          
          
          %div.user_nav
            - if current_user
              - @user = current_user
              = link_to current_user.login, user_path(@user), :class => "button"
              = link_to "Sign out", logout_path, :class => "button"
            - else
              = link_to "Sign in", new_user_session_path, :id => "sign_in_button", :class => "button"
              = link_to "Register", new_user_path, :class => "button"
          %div.search_box
            .search_field
              = form_tag "/search", :method => "get" do
                = text_field_tag :q, "", :class => "text"
                = submit_tag "Search", :class => "button"
          %div.clear
    .top_level
      %div#content
        - if flash[:fail]
          .flash.ui-state-highlight= flash[:fail]
               
        = content_for?(:content) ? yield(:content) : yield


    .footer
      %footer
        .top_level
          created for 6.470 by Brodrick Childs, Sashko Stubailo, Jeffrey Warren
