- content_for :content do
  .class_page
    %div#left-bar
      #class-name-info{ :class => which_tab == "home" ? "home_page" : "" }
        %h1= @class_room.name
        %p.subtitle
          by
          = link_to @creator.login, user_path(@creator)
        %ul.class-info
          %li
            -if @show_join
              .enroll-button-container
                = form_for @user_permission, :url => class_rooms_add_user_path, :method => :post do |f|
                  = f.hidden_field :class_room_id, :value => @class_room.id
                  = f.submit "Join Class", :class => "button"
            -else
              .enroll-button-container
                = link_to "Leave Class", @user_permission, confirm: 'Are you sure you want to leave this class?', method: :delete, :class => "button"
          - if @is_creator
            .clear
            %li= link_to "Delete class", class_room_path(@class_room), confirm: 'Are you sure you want to destroy this class and all of its contents?', method: :delete
      %nav
        - if not defined? which_tab
          - which_tab = "none"
        %ul
          %li
            = link_to "Class Home", class_room_path(@class_room), :class => which_tab == "home" ? "active" : ""
          %li
            = link_to "Lessons", class_room_resource_page_path(@class_room, @resource_pages[0]), :class => which_tab == "Lessons" ? "active" : ""
          %li
            = link_to "Homework", class_room_resource_page_path(@class_room, @resource_pages[1]), :class => which_tab == "Homework" ? "active" : ""
          %li
            = link_to "Materials", class_room_resource_page_path(@class_room, @resource_pages[2]), :class => which_tab == "Materials" ? "active" : ""
          %li
            = link_to "Tests/Quizzes", class_room_resource_page_path(@class_room, @resource_pages[3]), :class => which_tab == "Quizzes" ? "active" : ""
          %li
            = link_to "Discussion", @class_room.forum, :class => which_tab == "discussion" ? "active" : ""
          %li
            = link_to "Students", students_show_path(@class_room), :class => which_tab == "students" ? "active" : ""
          %li

    %div#center-page
      = content_for?(:class_room_content) ? yield(:class_room_content) : yield
  .clear

= render :template => "layouts/application"
