- content_for :content do
  .class_page
    %div#left-bar
      #class-name-info{ :class => which_tab == "home" ? "home_page" : "" }
        %h1= @class_room.name
        %p.subtitle
          by
          = link_to @creator.login, user_path(@creator)
        %ul.class-info
          %li
            -if @show_join
              .enroll-button-container
                = form_for @user_permission, :url => class_rooms_add_user_path, :method => :post do |f|
                  = f.hidden_field :class_room_id, :value => @class_room.id
                  = f.submit "Join Class", :class => "button"
            -else
              .enroll-button-container
                = link_to "Leave Class", @user_permission, confirm: 'Are you sure you want to leave this class?', method: :delete, :class => "button"
      %nav
        - if not defined? which_tab
          - which_tab = "none"
        %ul
          %li
            = link_to "Home", class_room_path(@class_room)
          %li
            %a{:href => "#"} Lessons
          %li
            = link_to "Homework", class_room_homeworks_path(@class_room), :class => which_tab == "homework" ? "active" : ""
          %li
            %a{:href => "#"} Materials
          %li
            %a{:href => "#"} Tests / Quizzes
          %li
            = link_to "Discussion", forum_path(@class_room.id), :class => which_tab == "discussion" ? "active" : ""
          %li
            %a{:href => "#"} Students

    %div#center-page
      = content_for?(:class_room_content) ? yield(:class_room_content) : yield
  .clear

= render :template => "layouts/application"
