-content_for :content do
  .user_home
    .left_column
      .info_box
        %strong= current_user.login
        -if current_user.account_type
          %p Connected with Facebook
        %p Taking x classes
        %p Teaching x classes
      %nav
        %ul.user_nav
          %li.main
            %a{:href => home_index_path, :class => (which_tab == "user_index" ? "active" : "")}
              Student Feed
              %span.sublink Classes I'm Taking 
          %li.main
            %a{:href => home_teacher_index_path, :class => (which_tab == "teacher_index" ? "active" : "")}
              Teacher Feed
              %span.sublink Classes I'm Teaching
          %li.main
            %a{:href => home_manage_path, :class => (which_tab == "manage" ? "active" : "")} Manage Classes
          %li.main
            = link_to 'Teach a class!', new_class_room_path
    .main_page
      .right_column
        = yield :right_column

      .center_page
        = yield :center_column
    .clear

= render :template => "layouts/application"
