-content_for :content do
  .user_home
    .left_column
      .info_box
      %nav
        %ul.user_nav
          %li.main
            %a{:href => home_index_path, :class => (which_tab == "user_index" ? "active" : "")}
              Student Feed
              -#%span.sublink Classes I'm Taking #{current_user.class_rooms.length>0 ? "- " + current_user.class_rooms.length.to_s : ""}
          -if current_user.taught_classes.length > 0
            %li.main
              %a{:href => home_teacher_index_path, :class => (which_tab == "teacher_index" ? "active" : "")}
                Teacher Feed
                -#%span.sublink Classes I'm Teaching #{current_user.taught_classes.length>0 ? "- " + current_user.taught_classes.length.to_s : ""}
          -if current_user.taught_classes.length > 0 or current_user.class_rooms.length > 0
            %li.main
              %a{:href => home_manage_path, :class => (which_tab == "manage" ? "active" : "")} Manage Classes
      - num_class_rooms = 5
      - if current_user.class_rooms.length > 0
        %ul.class_list
          %h4 Classes you're in:
          %li
            - current_user.class_rooms.sort_by { |class_room| class_room.updated_at }.reverse[0..num_class_rooms].each do |class_room|
              = link_to class_room.name, class_room

    .main_page
      .right_column
        = yield :right_column

      .center_page
        - if flash[:fail]
          .flash.ui-state-highlight.ui-corner-all{:style => "margin-bottom: 10px;"}= flash[:fail]
        = yield :center_column
      .clear

= render :template => "layouts/application"
